APP_ENV=local
APP_CONFIG_DIR=./config
APP_DATA_DIR=./data
APP_DATABASE_PATH=./data/pubg_zone_predictor.sqlite3
APP_MODEL_DIR=./data/models
PUBG_ASSETS_CACHE_DIR=./data/assets/pubg-api-assets
PUBG_ASSETS_BASE_URL=https://media.githubusercontent.com/media/pubg/api-assets/master
PUBG_ASSETS_TIMEOUT_SECONDS=120
APP_CORS_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]

PUBG_API_KEY=
PUBG_API_BASE_URL=https://api.pubg.com
PUBG_API_TIMEOUT_SECONDS=30
PUBG_TELEMETRY_CACHE_DIR=./data/telemetry

LLM_ENABLED=false
LLM_BASE_URL=
LLM_API_KEY=
LLM_MODEL=
LLM_TIMEOUT_SECONDS=15
